<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Servlets &amp; JSPs</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Servlet di login.</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>it.formarete.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>Authentication</display-name>
		<filter-name>Authentication</filter-name>
		<filter-class>it.formarete.filter.Authentication</filter-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>giancarlo</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>magalli</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Authentication</filter-name>
		<url-pattern>/area-protetta/*</url-pattern>
	</filter-mapping>
</web-app>