<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
											http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="dataSource"
				class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/feisbuc" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
				class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="annotatedClasses">
			<list>
				<value>it.formarete.feisbuc.model.Comment</value>
				<value>it.formarete.feisbuc.model.Like</value>
				<value>it.formarete.feisbuc.model.Post</value>
				<value>it.formarete.feisbuc.model.User</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
				class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO -->
	<bean id="commentDao" class="it.formarete.feisbuc.service.CommentDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="likeDao" class="it.formarete.feisbuc.service.LikeDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="postDao" class="it.formarete.feisbuc.service.PostDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDao" class="it.formarete.feisbuc.service.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Model -->
	<bean id="comment" class="it.formarete.feisbuc.model.Comment" scope="prototype" />
	<bean id="like" class="it.formarete.feisbuc.model.Like" scope="prototype" />
	<bean id="post" class="it.formarete.feisbuc.model.Post" scope="prototype" />
	<bean id="user" class="it.formarete.feisbuc.model.User" scope="prototype" />

	<!-- Struts -->
	<bean id="authInterceptor" class="it.formarete.feisbuc.interceptor.Auth">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="authAction" class="it.formarete.feisbuc.action.Auth" scope="prototype">
		<property name="userDao" ref="userDao" />
		<property name="user" ref="user" />
	</bean>

	<bean id="wallAction" class="it.formarete.feisbuc.action.Wall" scope="prototype">
		<property name="post" ref="post" />
		<property name="userDao" ref="userDao" />
		<property name="postDao" ref="postDao" />
	</bean>
</beans>
